div(data-ng-controller="catalogController as vm")
	.catal-logo-row(layout="row")
		a(href="#" class="catal-logo-a") Site Title / Logo
	.nav-menu
		ul.nav-tools
			li
				a(href="#")
					|<i class="fa fa-calendar"></i>
			li
				a(href="#")
					|<i class="fa fa-search"></i>
		ul.nav-links
			li
				a(href="#") Today
			li
				a(href="#") Yesterday
			li
				a(href="#") Last Week
			li
				a(href="#") The Month
		p.filter-txt text explaining filter result