div(data-ng-controller="detailController as vm")
	md-card-content(data-ng-if="vm.entity")
		div(layout="row", 
			layout-align-md="center start",
			layout-align-sm="center start",
			layout-wrap)
			.big-detail-advert(flex-gt-md="33", flex-md="40", flex-sm="40")
				img(data-ng-src="{{vm.entity.image_url}}")
			.detail(flex-gt-md="33", flex-md="100", flex-sm="100")
				.detail-block
					h1.img-title
						|{{vm.entity.last_name}} {{vm.entity.first_name}}
					p.img-inf
						|Date 11/13/2015
					p.img-inf
						|Booking Number: {{vm.entity.booking_id}}
					p.img-inf
						|Booking on: {{vm.entity.booking_datetime | date:'dd.MM.yyyy'}}
					p.img-inf
						div(data-ng-repeat="agency in vm.entity.agency_offenses")
							ol
								li(data-ng-repeat="charge in agency.charges", class="charges-description")
									p.charge-statute
										|<b>Statute</b>: {{charge.statute}}
									p.charge-level
										|<b>Level</b>: {{charge.level}}
									p.degree
										|<b>Degree</b>: {{charge.degree}}
									p
										|<b>Description</b>:
									p.charge-description
										|{{charge.description}}
			.two-advert(layout="column", flex="33")
				div(flex, class="hide-md hide-sm")
					.upper-advert
				div(flex, class="hide-md hide-sm")
					.bottom-advert
	div.loader-holder(data-ng-hide="vm.entity")
		.loader
			i.fa.fa-spinner.fa-spin
	md-card-content
		h3.recent-h.md-title Recently viewed
		div(layout="row", layout-wrap)
			.recent-v-wrap(data-ng-repeat="recent in vm.recentlyItems track by $index", flex-gt-md="15", flex-md="25", flex-sm="33")
				md-card
					img(src="" data-ng-src="{{recent.image_url}}", alt="Lorem impsum")
					md-card-content.recent-inf
						.gallery-item-title(data-ng-bind="::recent.first_name", data-ui-sref="app.item({ id: recent.booking_id })")
						.gallery-item-date(data-ng-bind="::recent.booking_datetime | date:'dd/MM/yyyy hh:mm'")