div(data-ng-controller="landingController as vm")
	.back-img
		.center-cont(layout="column")
			h1(class="shell-logo" flex="100") Site Title / Logo
			md-menu-bar(class="shell-categ" flex="100")
				li
					a(href="#") Category 1
				li
					a(href="#") Category 2
				li
					a(href="#") Category 3
		.land-bot(layout="row")
			p(flex="50")
				|<i class="fa fa-copyright"></i> SiteName 2015
			ul(class="shlinks-ul" flex="50")
				li
					a(href="#") Link 1
				li
					a(href="#") Link 2
				li
					a(href="#") Link 3