@font-face {
	font-family: RobotoMedium;
	src: url(../fonts/Roboto-Medium.ttf) format('truetype');
};

@font-face {
	font-family: RobotoThin;
	src: url(../fonts/Roboto-Thin.ttf) format('truetype');	
};

@font-face {
	font-family: RobotoBold;
	src: url(../fonts/Roboto-Bold.ttf) format('truetype');
};

@font-face {
	font-family: RobotoBold;
	src: url(../fonts/Roboto-Black.ttf) format('truetype');
};