.gallery-toolbar {
  margin-left: -16px;
  width: auto;
  margin-right: -16px;
  .md-button {
    font-size: .8em;
  }
  .filter-txt {
    font-size: .8em;
  }
}
.catal-logo-row {
  .catal-logo-a {
    font-size: 2em;
  }
}
.gallery-item {
  height: 40%;
  padding: 0 0 1em 0;
  &-photo {
    //width: 160px;
    //height: 200px;
    overflow: hidden;
    img {
      height: 100%;
    }
  }
  &-title {
    text-align: center;
    margin-top: 1em;
    margin-bottom: .5em;
    font-size: 1.5em;
  }
  &-date {
    font-size: 1.5em;
    text-align: center;
  }
}
.gallery-carousel {
  .inner-carousel {
    list-style-type: none;
    padding-left: 0;
  }
}

.gallery-carousel {
  .item-car {
    width: 33em;
  }
  md-grid-list {
    // right: 37%;
    margin-right: 1rem;
  }
}

@media screen and (max-width: 1199px) {
  .gallery-carousel {
    .item-car {
      width: 43em;
    }
  }
}

@media screen and (max-width: 959px) {
  .gallery-carousel {
    .item-car {
      width: 45em;
    }
  }
}

@media screen and (max-width: 767px) {
  .gallery-carousel {
    .item-car {
      width: 67em;
    }
  }
}