@keyframes menuopen {
  from {max-height: 0;}
  to {max-height: 50rem;}
}
@keyframes menuclose {
  from {max-height: 50rem;}
  to {max-height: 0;}
}
.padding-bot-0 {
  padding-bottom: 0;
}
.box-shadow-none {
  box-shadow: none;
}
.overflow-h {
  overflow: hidden;
}
.display-block {
  display: block;
}
.navFiltActive {
  animation-name: menuopen;
  animation-timing-function: linear;
  animation-duration: 0.4s;
  animation-fill-mode: forwards;
}
.navFiltInactive {
  animation-name: menuclose;
  animation-duration: 0.4s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}
.nav-filter {
  padding-top: 0.3rem;
}
.gallery-toolbar {
  margin-left: -16px;
  width: auto;
  margin-right: -16px;
  .md-button {
    font-size: .8em;
  }
  .filter-txt {
    font-size: .8em;
    display: inline-block;
  }
}
.menu-trig {
  min-width: 1.6rem;
  height: 2.8rem;
  padding: 0.3rem;
}
.button-desh {
  width: 100%;
  height: 0.2rem;
  background-color: #ffffff;
  display: block;
  &:not(:nth-child(3)) {
    margin-bottom: 0.3rem;
  }
}
md-datepicker.md-default-theme, md-datepicker {
  background-color: transparent;
}
.md-datepicker-input-container {
  display: none;
}
.md-default-theme .md-datepicker-open .md-datepicker-calendar-icon {
  fill: #ffffff;
}
.md-datepicker-calendar-pane {
  background-color: #ffffff;
  top: 4.5rem !important;
  left: 13% !important;
}
.seeker-dropmenu {
  height: 9em;
}
.seeker-menu-height {
  min-height: 41px;
  height: 41px; 
}
.seeker-inputmenu {
  padding: 0 1.5em;
  width: 75%;
  input.seeker-input {
    border-width: 0.2em;
    height: 2.1em;
    font-size: 0.9rem;
    padding-left: 1em;
    border-color: rgba(0,0,0,0.3);
  }
}
md-menu-item {
  > button.md-button.seeker-subbtn.md-primary {
    min-width: 0;
    width: 3.5em;
    height: 2.1em;
    background-color: rgb(63,81,181);
    padding: 0;
    text-align: center;
    font-size: 1rem;;
    color: #ffffff;
    &:hover:not([disabled]), :hover {
      background-color: rgba(63,81,181, 0.9);
    }
  }
}
.catal-logo-row {
  .catal-logo-a {
    font-size: 2em;
  }
}
.slide-wrap {
  height: 100%;
}
.rn-carousel-custom {
  height: 38.5rem;
  margin-bottom: 1rem;
  li.item-car {
    width: 90%;
  }
}
.gallery-item {
  display: inline-block;
  width: 25%;
  overflow: hidden;
  &-photo {
    img {
      display: block;
      width: 160px;
      height: 200px;
      margin: 2em auto 0;
    }
  }
  &-title {
    color: #64B5F6;
    cursor: pointer;
    text-align: center;
    margin-top: 1em;
    margin-bottom: .5em;
    font-size: 1.8em;
  }
  &-date {
    font-size: 2em;
    text-align: center;
  }
}
.gallery-carousel {
  margin-bottom: 2em;
}
.loader-holder {
  text-align: center;
  .loader {
    i {
      font-size: 11em;
      margin-top: 2em;
      margin-bottom: 2em;
      color: rgb(63,81,181);
    }
  }
}
.ltAd {
  height: 7rem;
  div {
    width: 100%;
    height: 100%;
    background-color: #eeeeee;
  }
}
.rtAd {
  height: 7rem;
  div {
    width: 100%;
    height: 100%;
    background-color: #eeeeee;
  }
}
.advert {
  background-color: #e5e5e5;
}
.abBlock-h {
  font-size: 3em;
  font-family: RobotoBold;
}
.abBlock-p {
  font-size: 2em;
  line-height: 1.2;
}
.layout-margin {
  .info-advert {
    height: 15em;
    .advert();
    margin: 0;
  }
}
.widget-block {
  .advert();
  height: 7.3rem;
}
.widget-h {
  font-family: RobotoBold;
  font-size: 3em;
}
.sitename-link {
  color: #000000;
  text-decoration: none;
}
.rights, .copyright-holder {
  margin-bottom: 0;
  font-size: 1.5em;
}
.copyright-holder {
  margin-bottom: 1rem;
}
.foot-list {
  padding: 0;
}
a.md-button.foot-link {
  background-color: transparent;
  color: #000000;
  text-decoration: none;
  margin: 0;
  padding: 0 10px;
  min-width: 0;
  text-transform: none;
  font-size: 2.1em;
  &:hover {
    background-color: transparent;
  }
}
.detail-block {
  margin: 0 2em
}
.upper-advert {
  margin-bottom: 1em;
  height: 25em;
  .advert();
}
.bottom-advert {
  margin-top: 1em;
  height: 25em;
  .advert();
}
.img-inf {
  font-size: 2em;
}
// Detail page
.recent-h {
  margin-left: 0.4rem;
  font-size: 3em;
}
.big-detail-advert {
  .advert();
}
.img-title {
   font-size: 5em;
}
@media screen and (max-width: 1199px) {
  .rn-carousel-custom {
    height: 38.4rem;
    .gallery-item-title {
      font-size: 2.2em;
    }
    .gallery-item-date {
      font-size: 2.2em;
    }
  }
  .gallery-carousel {
    .item-car {
      width: 43em;
    }
  }
  .gallery-item {
    width: 33.2%;
  }
  .gallery-item-photo {
    img {
      width: 100%;
    }
  }
  .recent-inf {
    font-size: 1em;
    padding-left: 0;
    padding-right: 0;
  }
  .img-inf {
    font-size: 2.4em;
  }
  .recent-h {
    font-size: 3.7em;
  }
  .abBlock-h, .widget-h {
    font-size: 3.5em;

  }

  .abBlock-p {
    font-size: 2.6em;
  }
  .rights, .copyright-holder {
    font-size: 2.1em;
  }
  a.md-button.foot-link, .landing-links-menu .md-button, .landing-menu .md-button {
    font-size: 2.4em;
  }
  .catal-logo-row .catal-logo-a {
    font-size: 2.7em;
  }
  .shell-logo {
    font-size: 11.5em;
  }
}
@media screen and (max-width: 959px) {
  .md-toolbar-tools.nav-tools {
    height: auto;
    max-height: 50rem;
    padding: 0.5rem 0;
  }
  .rn-carousel-custom {
    height: 37.9rem;
    .gallery-item-title {
      font-size: 2.6em;
    }
    .gallery-item-date {
      font-size: 2.6em;
    }
  }
  .gallery-carousel {
    .item-car {
      width: 45em;
    }
  }
  .md-datepicker-calendar-pane {
    left: 9% !important; 
  }
  .layout-margin .info-advert {
    height: 20;
  }
  .adBlock-h {
    margin-top: 0;
  }
  .big-detail-advert {
    height: 65em;
  }
  .recent-inf {
    font-size: 1.9em;
  }
  .recent-h {
    font-siez: 5em;
  }
  .abBlock-h, .widget-h {
    font-size: 4.5em;
  }
  .abBlock-p {
    font-size: 2.9em;
  }
  .rights, .copyright-holder {
    font-size: 2.3em;
  }
   a.md-button.foot-link, .landing-links-menu .md-button {
    font-size: 3em;
  }
  .landing-menu .md-button {
    font-size: 3.3em;
  }
  .catal-logo-row .catal-logo-a {
    font-size: 3.2em;
  }
  .img-inf {
    font-size: 2.9em;
  }
  .shell-logo {
    font-size: 14em;
  }
}
@media screen and (max-width: 767px) {
  .rn-carousel-custom {
    height: 36.7rem;
    .gallery-item-title {
      font-size: 2.8em;
    }
    .gallery-item-date {
      font-size: 2.8em;
    }
  }
  .seeker-datepick {
    padding-left: 0.2em;
  }
  a.filter-btn.md-button {
   min-width: 5.5rem;
  }
  .gallery-carousel {
    .item-car, i {
      width: 67em;
    }
  }
  .abBlock-h {
    margin-top: 0;
  }
  .img-title {
   font-size: 6em;
  }
  .img-inf {
    font-size: 3.6em;
  }
  .abBlock-h, .widget-h {
    font-size: 5.5em;
  }
  .abBlock-p {
    font-size: 3.7em;
  }
  .rights, .copyright-holder {
    font-size: 3.6em;
  }
   a.md-button.foot-link, .landing-links-menu .md-button {
    font-size: 3.4em;
  }
  .landing-menu .md-button {
    font-size: 3.7em;
  }
  .catal-logo-row .catal-logo-a {
    font-size: 3.9em;
  }
  .recent-h {
    font-size: 6.3em;
  }
  .shell-logo {
    font-size: 14em;
  }
}
@media screen and (max-width: 599px) {
  .detail-block {
    font-size: 2em;
  }
  .rn-carousel-custom {
    height: 36.4rem;
    .gallery-item-title {
      //font-size: 3.8em;
      font-size: 5.5em;
    }
    .gallery-item-date {
      //font-size: 3.8em;
      font-size: 5.5em;
    }
  }
 .gallery-item {
    width: 50%;
  }
  .md-datepicker-calendar-pane {
    top: 3.5rem !important;
    left: 6% !important;
  }
  .layout-row > .flex-sm-100.nav-filter {
    max-height: 0;
  }
  .nav-filter {
    border-top: 0.1rem solid #ffffff;
    margin-top: 1rem;
  } 
  .md-toolbar-tools {
    overflow: hidden;
    a.filter-btn.md-button {
      font-size: 0.8em;
      min-width: 88px;
      margin: 0.6rem 0.3rem;
      min-height: 36px;
      padding-top: 0.3rem;
      padding-bottom: 0.3rem;
      padding-left: 1rem;
      text-align: left;
      span {
        position: static;
        bottom: auto;
      }
    }
  }
  .gallery-toolbar {
   .filter-txt {
    padding: 1.1rem 0 0 0.7rem;
    border-top: 0.1rem solid #ffffff;
    text-align: left; 
   }
  }
  a.md-button.foot-link:first-child {
    padding-left: 0;
  }
   .landing-menu .md-button {
    font-size: 4.6em;
  }
  .layout-margin {
    .info-advert {
      margin-bottom: 1rem;
    }
  }
  .big-detail-advert {
    height: 80em;
  }
  .recent-inf {
    font-size: 2.2em;
  }
  .abBlock-h, .widget-h {
    font-size: 14em;
    //font-size: 7em;
  }
  .abBlock-p {
    //font-size: 4.7em;
    font-size: 8.7em;
  }
  .info-advert {
    display: none;
  }
  .rights, .copyright-holder {
    font-size: 4.2em;
  }
  a.md-button.foot-link, .landing-links-menu .md-button {
    //font-size: 4.8em;
    font-size: 8em;
  }
  .gallery-foot .flex-sm-100:first-child {
    font-size: 1.6em;
  }

  .catal-logo-row .catal-logo-a {
   font-size: 5.2em;
  }
  .img-title {
    font-size: 7em; 
  }
  .img-inf {
    font-size: 4.5em;
  }
  .shell-logo {
    font-size: 16.5em;
  }
  .landing-links-menu{
    text-align: center;
  }
}