.gallery-toolbar {
  margin-left: -16px;
  width: auto;
  margin-right: -16px;
  .md-button {
    font-size: .8em;
  }
  .filter-txt {
    font-size: .8em;
  }
}
.catal-logo-row {
  .catal-logo-a {
    font-size: 2em;
  }
}
md-card {
  box-shadow: none;
}
.gallery-item {
  height: 40%;
  padding: 0 0 1em 0;
  &-photo {
    //width: 160px;
    //height: 200px;
    overflow: hidden;
    img {
      height: 100%;
    }
  }
  &-title {
    text-align: center;
    margin-top: 1em;
    margin-bottom: .5em;
    font-size: 1.5em;
  }
  &-date {
    font-size: 1.5em;
    text-align: center;
  }
}
.gallery-carousel {
  margin-bottom: 2em;
  .item-car {
    width: 33em;
  }
  md-grid-list {
    margin-right: 1rem;
  }
}
.ltAd {
  width: 49%;
  height: 15em;
  margin-right: 1%;
  background-color: #eeeeee;
}
.rtAd {
  width: 49%;
  height: 15em;
  margin-left: 1%;
  background-color: #eeeeee;
}
.about-block {
  margin-right: 2em;
}
.info-advert {
  margin-left: 2em;
}
.inf-block {
  height: 15em;
}
.sm-advert-block {
  background-color: #e5e5e5;
}
.abBlock-h {
  // font-size: 2.5em;
  font-family: RobotoBold;
}
.abBlock-p {
  font-size: 2em;
  font-family: RobotoBlack;
}
@media screen and (max-width: 1199px) {
  .gallery-carousel {
    .item-car {
      width: 43em;
    }
  }
}
@media screen and (max-width: 959px) {
  .gallery-carousel {
    .item-car {
      width: 45em;
    }
  }
}
@media screen and (max-width: 767px) {
  .gallery-carousel {
    .item-car {
      width: 67em;
    }
  }
}