body {
  -webkit-font-smoothing: antialised;
}
.catal-logo-row {
  margin-bottom: 1em;
  a {
    color: #363636;
    text-decoration: none;
  }
}
.shell-logo {
  font-family: RobotoThin;
  font-size: 9em;
  text-align: center;
}
.landing-back-img {
  position: absolute;
  top:0;
  left:0;
  z-index:1;
  width: 100%;
  height: 100%;
  overflow: hidden;
  img {
    height:100%;
  }
}
.landing-content {
  background: transparent;
  position: relative;
  z-index: 2;
  padding-top: 10%;
}
.copyright-holder {
  padding-top: .5em;
  font-size: 0.7rem;
  margin: 0;
  padding: 0 10px;
  text-transform: none;
}
.landing-links-menu {
  text-align: center;
  .md-button {
   font-size: 0.8rem;
   min-width: 3.5rem;
   text-transform: none;
   margin-right: 0.3rem;
   margin-left: 0.3rem;
  }
}
.landing-menu {
  text-align: center;
  margin-top: 4em;
  margin-bottom: 4em;
  .md-button {
    font-size: 0.8rem;
    min-width: 4rem;
    text-transform: none;
  }
}
md-card.custom-theme {
  background: transparent;
  box-shadow: none;
}
.land-foot {
  position: absolute;
  bottom: 2em;
  z-index: 1;
  width: 100%;
}