
<div data-ng-controller="catalogController as vm">
  <div layout="row" class="catal-logo-row"><a href="#" class="catal-logo-a">Site Title / Logo</a></div>
  <div class="nav-menu">
    <ul class="nav-tools">
      <li><a href="#"><i class="fa fa-calendar"></i></a></li>
      <li><a href="#"><i class="fa fa-search"></i></a></li>
    </ul>
    <ul class="nav-links">
      <li><a href="#">Today</a></li>
      <li><a href="#">Yesterday</a></li>
      <li><a href="#">Last Week</a></li>
      <li><a href="#">The Month</a></li>
    </ul>
    <p class="filter-txt">text explaining filter result</p>
  </div>
</div>