
<div data-ng-controller="landingController as vm">
  <div class="back-img">
    <div layout="column" class="center-cont">
      <h1 flex="100" class="shell-logo">Site Title / Logo</h1>
      <md-menu-bar flex="100" class="shell-categ">
        <li><a href="#">Category 1</a></li>
        <li><a href="#">Category 2</a></li>
        <li><a href="#">Category 3</a></li>
      </md-menu-bar>
    </div>
    <div layout="row" class="land-bot">
      <p flex="50"><i class="fa fa-copyright"></i> SiteName 2015</p>
      <ul flex="50" class="shlinks-ul">
        <li><a href="#">Link 1</a></li>
        <li><a href="#">Link 2</a></li>
        <li><a href="#">Link 3</a></li>
      </ul>
    </div>
  </div>
</div>